ul.social-network{
  list-style: none;
  padding: 0;
}

ul.social-network li{
  display: inline;
  margin: 0;
  padding: 5px;
}

.fa{
  font-size: 35pt;
  color: white;
  padding: 10px;
}
.fa-facebook-square:hover{
  color: #3b5998;
}

.fa-instagram:hover{
  color: #C13584;
}

.fa-linkedin-square:hover{
  color: #0072b1;
}
